@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-display: "Poppins", sans-serif;

  --color-brand-black: #050505;
  --color-brand-dark: #0a0a0a;
  --color-brand-accent: #ffffff;
}

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

/* Hide scrollbar for clean look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
